<h1>購入履歴</h1>

<% if Rails.env == 'production' %>
  <p>
    データソース：<%= History.data_source %>
  </p>
<% end %>

<div align="right">
  <%= link_to '新規購入履歴作成', new_history_path, :class => 'btn btn-primary' %>
</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>顧客</th>
      <th>商品</th>
      <th>クレジットカード</th>
      <th>購入数</th>
      <th>送付住所</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.customer.customer_name %></td>
        <td><%= history.product.product_name %></td>
        <td><%= history.creditcard.creditno %></td>
        <td><%= history.amount %></td>
        <td><%= history.address %></td>
        <td><%= history.created_at %></td>
        <td><%= history.updated_at %></td>
        <td>
          <%= link_to '編集', edit_history_path(history), :class => 'btn btn-warning' %>
          <%= link_to '削除', history, method: :delete, data: { confirm: '削除していいですか？' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
