<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @history.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @history.product %>
</p>

<p>
  <strong>Creditcard:</strong>
  <%= @history.creditcard %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @history.amount %>
</p>

<p>
  <strong>Address:</strong>
  <%= @history.address %>
</p>
