<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @history.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @history.product %>
</p>

<p>
  <strong>Creditcard:</strong>
  <%= @history.creditcard %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @history.amount %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
