<h1>クレジットカード情報</h1>

<div align="right">
  <%= link_to '新規クレジットカード情報作成', new_creditcard_path, :class => 'btn btn-primary' %>
</div>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>カード番号</th>
      <th>顧客名</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>バージョン</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @creditcards.each do |creditcard| %>
      <tr>
        <td><%= creditcard.creditno %></td>
        <!-- <td><%= creditcard.customer.customer_name %></td> -->
        <% unless creditcard.customer == nil %>
          <td><%= creditcard.customer.customer_name %></td>
        <% else %>
          <td>削除された顧客</td>
        <% end %>
        <td><%= creditcard.created_at %></td>
        <td><%= creditcard.updated_at %></td>
        <td><%= creditcard.version %></td>
        <td>
          <%= link_to '編集', edit_creditcard_path(creditcard), :class => 'btn btn-warning' %>
          <%= link_to '削除', creditcard, method: :delete, data: { confirm: '削除していいですか？' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
