<h1>商品画像</h1>

<div align="right">
  <%= link_to '新規商品画像作成', new_product_image_path, :class => 'btn btn-primary' %>
</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品</th>
      <th>商品画像</th>
      <th>バージョン</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_images.each do |product_image| %>
      <tr>
        <td><%= product_image.product.product_name %></td>
        <td><%= image_tag pic_product_image_path(product_image), :height => 128 %></td>
        <td><%= product_image.version %></td>
        <td>
          <%= link_to '編集', edit_product_image_path(product_image), :class => 'btn btn-warning' %>
          <%= link_to '削除', product_image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
