<h1>レビュー</h1>

<% if Rails.env == 'production' %>
  <p>
    データソース：<%= Review.data_source %>
  </p>
<% end %>

<div align="right">
  <%= link_to '新規レビュー作成', new_review_path, :class => 'btn btn-primary' %>
</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>評価</th>
      <th>コメント</th>
      <th>商品コード</th>
      <th>顧客</th>
      <th>バージョン</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.evaluation %></td>
        <td><%= review.comment %></td>
        <td><%= review.product_code %></td>
        <td><%= review.customer %></td>
        <td><%= review.version %></td>
        <td>
          <%= link_to '編集', edit_review_path(review), :class => 'btn btn-warning' %>
          <%= link_to '削除', review, method: :delete, data: { confirm: '削除していいですか？' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
